<header>
 <%= link_to "Friends App", root_path %>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><%= link_to "About us", home_about_path %></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
    </ul>
</nav>
</header>